#print{width:100%;
float:left;
display:block
}
#print.issues li {
    width:33.333333333333333%;
    max-width:70mm;
    min-width:50mm;
    height:25%;
    max-height:74.25mm;
    float:left;
    display:block;
    padding:$header-height 0 $printed-meta-height;
    background:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px dashed black;
    border-width:0 1px 1px 0;
    
}
#print.issues li:before,#print.issues li:after{
  font-size:2em;
}
#print.issues li .meta {
    position:absolute;
    bottom:0;
    left:$printed-padding;
    right:$printed-padding;
    height:$printed-meta-height;   
}
#print.issues li .summary{
  padding:$printed-padding;
}
