#print{width:100%;
float:left;
display:block
}
#print.issues li {
    width:33.333333333333333%;
    max-width:70mm;
    min-width:50mm;
    height:25%;
    smax-height:74.25mm;
    float:left;
    display:block;
    padding:0;
    background:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px dashed black;
    border-width:0 1px 1px 0;
    
}
#print.issues li:before,#print.issues li:after{
  font-size:2rem;
  position:absolute;
  top:0;
  bottom:auto;
  margin:0;
  font-weight:700
}
#print.issues li:before{
  left:0.5rem;
}
#print.issues li .meta {
    position:absolute;
    bottom:0;
    left:$printed-padding;
    right:$printed-padding;
    height:auto;
    min-height:$printed-meta-height;
    max-height:$printed-meta-height*2;   
    width:auto;
}
#print.issues li .summary{
  padding:$printed-padding;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap:break-word;
  text-overflow:ellipsis;
  
 
}
