*{
  padding:0;
  margin:0
}
.issues{
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  overflow-y:auto;
  li{
    width:33.333333333333333%;
    max-width:70mm;
    min-width:50mm;
    height:33.333333333333333%;
    max-height:99mm;
    min-height:86mm;
    float:left;
    display:block;
    padding:0;
    background:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px dashed black;
    border-width:0 1px 1px 0;
    position:relative;
      header{
       background:pink;
       h1,h2,h3,h4{
         margin:0;
         
       }
      }
      footer{
       background:red;
       position:absolute;
       bottom:0;
       left:0;
       right:0;
      }
      section{
       background:wheat 
      }
  }
}
