#left-panel{
  display:none
}
#right-panel > header{
  display:none
}
#right-panel{
  display:block;
  width:100%;
  overflow:visible;
  top:0;
  
}
#right-panel #print.issues{
  width:100%;
  height:auto;
  overflow:visible;
  top:0;
}

body > header,body > footer{
  display:none
}
