$font-stack:"Noto Sans","Roboto","Calibri",sans-serif;
$list-issue-height:3em;

$theme-color-2:steelblue;
$theme-bg-2:aliceblue;
$theme-font-size-base-no-units:16;
$theme-font-size-base-px:16px;
$list-issue-alternate-bg:lavender;
$header-height:3em;
$printed-meta-height:2em;
$printed-padding:0.5em;
