#list.issues{
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  overflow-y:scroll;
  li{
    width:100%;
    float:left;
    display:block;
    padding:$printed-card-padding;
    background:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px dashed black;
    border-width:0;   
      header{
       display:block;
       clear:both;
       float:left;
       width:100%;
       h1,h2,h3,h4{
         margin:0;
         float:left;
         width:100%;
         strong{
           width:100%;
           clear:both;
           float:left
         }
       }
       h1{
         width:50%;
         clear:both;
         font-size:1.5rem;
         line-height:2rem;
         float:left;
         display:block;
          .custom-id{
            font-size:0.75em
          }
        }
       h2{
         width:50%;
        font-size:1rem;
        line-height:1.5rem;
        display:block;
        float:right;
       }

      }
      footer{
      display:none;
      }
      section{
       display: block;
       float:left;
       clear:both;
       width:100%;
      }
  }
   li:nth-child(even){
    background:$list-issue-alternate-bg
   }
}
