*{
  padding:0;
  margin:0
}
#print.issues{
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  overflow-y:scroll;
  li{
    position:relative;
    width:$printed-width-percent;
    max-width:$printed-width-max;
    min-width:$printed-width-min;
    height:$printed-height-percent;
    max-height:$printed-height-max;
    min-height:$printed-height-min;
    float:left;
    display:block;
    padding:$printed-card-padding;
    background:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:1px dashed black;
    border-width:0 1px 1px 0;
    
      header{
       width:100%;
       display:block;
       clear:both;
       float:left;
       h1,h2,h3,h4{
         margin:0;
         float:left;
         width:auto;
       }
       h1{
         width:100%;
         clear:both;
         font-size:3rem;
         line-height:4rem;
         .custom-id{
           font-size:1.75rem;
          }
        }
       h2{
         width:100%;
        font-size:1.25rem;
        line-height:1.5rem;
       }

      }
      footer{
       position:absolute;
       bottom:1px;
       left:$printed-card-padding;
       right:$printed-card-padding;;
      }
      section{

       display: block;
       float:left;
       clear:both;
       width:100%;
      }
  }
}
