
.icon-search:before { content: '\e800'; } /* '' */
.icon-erase:before { content: '\e845'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-layout:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-plus-squared:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-minus-circled:before { content: '\e80d'; } /* '' */
.icon-minus-squared:before { content: '\e80e'; } /* '' */
.icon-help:before { content: '\e80f'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-attach:before { content: '\e814'; } /* '' */
.icon-eye:before { content: '\e815'; } /* '' */
.icon-download:before { content: '\e816'; } /* '' */
.icon-upload:before { content: '\e817'; } /* '' */
.icon-upload-cloud:before { content: '\e818'; } /* '' */
.icon-code:before { content: '\e819'; } /* '' */
.icon-export:before { content: '\e81a'; } /* '' */
.icon-print:before { content: '\e81b'; } /* '' */
.icon-keyboard:before { content: '\e81c'; } /* '' */
.icon-bell:before { content: '\e81d'; } /* '' */
.icon-attention:before { content: '\e81e'; } /* '' */
.icon-direction:before { content: '\e81f'; } /* '' */
.icon-trash:before { content: '\e820'; } /* '' */
.icon-doc:before { content: '\e821'; } /* '' */
.icon-docs:before { content: '\e823'; } /* '' */
.icon-flashlight:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e824'; } /* '' */
.icon-hourglass:before { content: '\e825'; } /* '' */
.icon-resize-small:before { content: '\e826'; } /* '' */
.icon-popup:before { content: '\e827'; } /* '' */
.icon-arrow-combo:before { content: '\e828'; } /* '' */
.icon-down-open:before { content: '\e829'; } /* '' */
.icon-left-open:before { content: '\e82a'; } /* '' */
.icon-right-open:before { content: '\e82b'; } /* '' */
.icon-up-open:before { content: '\e82c'; } /* '' */
.icon-down-open-mini:before { content: '\e82d'; } /* '' */
.icon-left-open-mini:before { content: '\e82e'; } /* '' */
.icon-right-open-mini:before { content: '\e82f'; } /* '' */
.icon-up-open-mini:before { content: '\e830'; } /* '' */
.icon-down-open-big:before { content: '\e831'; } /* '' */
.icon-left-open-big:before { content: '\e832'; } /* '' */
.icon-right-open-big:before { content: '\e833'; } /* '' */
.icon-up-open-big:before { content: '\e834'; } /* '' */
.icon-down-dir:before { content: '\e835'; } /* '' */
.icon-left-dir:before { content: '\e836'; } /* '' */
.icon-right-dir:before { content: '\e837'; } /* '' */
.icon-up-dir:before { content: '\e838'; } /* '' */
.icon-arrows-ccw:before { content: '\e839'; } /* '' */
.icon-progress-0:before { content: '\e83a'; } /* '' */
.icon-progress-1:before { content: '\e83b'; } /* '' */
.icon-progress-2:before { content: '\e83c'; } /* '' */
.icon-progress-3:before { content: '\e83d'; } /* '' */
.icon-list:before { content: '\e83e'; } /* '' */
.icon-list-add:before { content: '\e83f'; } /* '' */
.icon-monitor:before { content: '\e840'; } /* '' */
.icon-mobile:before { content: '\e843'; } /* '' */
.icon-inbox:before { content: '\e841'; } /* '' */
.icon-install:before { content: '\e842'; } /* '' */
.icon-flight:before { content: '\e844'; } /* '' */
.icon-doc-landscape:before { content: '\e822'; } /* '' */